{if count($users)}
    <table width="100%">
        <thead>
            <tr>
                <th width="40px"><a href="{URL::base()}backend/user/list/?order=id{if $sort.dir != 'desc'}&desc=1{/if}" class="orderColumn{if $sort.order == 'id'} sort{if $sort.dir == 'desc'} sort_up{/if}{/if}">{__('ID')}</a></th>
                <th><a href="{URL::base()}backend/user/list/?order=username{if $sort.dir != 'desc'}&desc=1{/if}" class="orderColumn{if $sort.order == 'username'} sort{if $sort.dir == 'desc'} sort_up{/if}{/if}">{__('Username')}</a></th>
                <th><a href="{URL::base()}backend/user/list/?order=email{if $sort.dir != 'desc'}&desc=1{/if}" class="orderColumn{if $sort.order == 'email'} sort{if $sort.dir == 'desc'} sort_up{/if}{/if}">{__('Email')}</a></th>
                <th width="70px"><a href="javascript:;">{__('Groups')}</a></th>
                <th width="50px"><a href="javascript:;">{__('ZIP')}</a></th>
                <th width="120px"><a href="{URL::base()}backend/user/list/?order=added">{__('Registered')}</a></th>
                <th width="60px"><a href="javascript:;">{__('Action')}</a></th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$users item=usr}
            {assign var=roles value=$usr->roles->find_all()->as_array()}
            <tr>
                <td class="a-center{if !$usr->active} gry{/if}">{$usr->id}</td>
                <td class="{if !$usr->active} gry{/if}"><a href="#"><a href="{URL::base()}backend/user/edit/{$usr->id}">{$usr->username}</a></a></td>
                <td class="{if !$usr->active} gry{/if}">{$usr->email}</td>
                <td class="{if !$usr->active} gry{/if}">{foreach from=$roles item=role key=Ky}{$role->name}{if $Ky < count($roles)-1},&nbsp;{/if}{/foreach}</td>
                <td class="{if !$usr->active} gry{/if}">{$usr->member->zip}</td>
                <td class="{if !$usr->active} gry{/if}">{$usr->member->added|date_format:"d.m.Y H.i.s"}</td>
                <td  class="table-icons{if !$usr->active} gry{/if}">
                    <a href="{URL::base()}backend/user/switch/{$usr->id}"><img
                                src="{URL::base()}static/img/backend/icons/user.png" title="{__('Switch active status')}" width="16" height="16"
                                /></a>
                    <a href="{URL::base()}backend/user/edit/{$usr->id}"><img
    src="{URL::base()}static/img/backend/icons/user_edit.png" title="{__('Edit')}" width="16" height="16"
    /></a>
                    <a href="{URL::base()}backend/user/delete/{$usr->id}"><img
    src="{URL::base()}static/img/backend/icons/user_delete.png" title="{__('Delete user')}" width="16" height="16"
    /></a>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {include file='../../paging.tmpl'}
{else}
    <div class="not-found">{__('no users has been added')}</div>
{/if}
