<form name="formLogin" method="post" class="form w400" action="{URL::site('backend/user/edit')}/{$User->id}">
        {if isset($errors['type_id'])}<div class="error">{$errors['type']}</div>{/if}
        <label for="type_id">{__('Account type')}:</label>
        <select name="type_id" id="type_id">
            <option value="0">--</option>
            {foreach from=$types item=type}
                <option value="{$type->id}"{if $User->member->type->id == $type->id} selected="selected"{/if}>{$type->title}</option>
            {/foreach}
        </select>
    <br />   <br />
        {if isset($errors['firstname'])}<div class="error">{$errors['firstname']}</div>{/if}
        <label for="firstname">{__('First name')}:</label>
        <input type="text" name="firstname" value="{$User->member->firstname}" id="firstname" />
        <br />
        {if isset($errors['lastname'])}<div class="error">{$errors['lastname']}</div>{/if}
        <label for="lastname">{__('Last name')}:</label>
        <input type="text" name="lastname" value="{$User->member->lastname}" id="lastname" />
        <br />
        {if isset($errors['gender'])}<div class="error">{$errors['gender']}</div>{/if}
        <label for="gender">{__('Gender')}:</label>
        <input type="radio" name="gender" value="1" {if $User->member->gender == '1'} checked="checked" {/if}id="gender1" />
        Male
        <input type="radio" name="gender" value="0" {if $User->member->gender == '0'} checked="checked" {/if}id="gender2" />
        Female
        <br />
        <label for="added">{__('Date added')}:</label>
        <input type="text" name="added" value="{$User->member->added|date_format:"%Y-%m-%d"}" id="added" />
        <br />
        <br />
        {if isset($errors['country_id'])}<div class="error">{$errors['country_id']}</div>{/if}
        <label for="country_id">{__('Country')}:</label>
        <select name="country_id" id="country_id">
            <option value="0">--</option>
            {foreach from=$countries item=country}
                <option value="{$country->id}"{if $User->member->country->id == $country->id} selected="selected"{/if}>{$country->title}</option>
            {/foreach}
        </select>
        <br/>
        {if isset($errors['region_id'])}<div class="error">{$errors['region_id']}</div>{/if}
        <label for="region_id">{__('Region')}:</label>
        <select name="region_id" id="region_id">
            <option value="0">--</option>
        </select>
        <br/>
<script type="text/javascript">{strip}
    $('#country_id').on('change',function() { 
        if ($(this).val()=='0') { 
            $("#region_id").attr("disabled","disabled");
        } else { 
            $("#region_id").attr("disabled","");
        }
        $('#region_id').empty();
        $("#region_id").append( $('<option value="0">--</option>'));
        {foreach from=$countries item=country}
        if ($(this).val()=='{$country->id}') { 
            {foreach from=$country->regions item=region}
                $("#region_id").append( $('<option value="{$region->id}">{$region->title}</option>'));
            {/foreach}
        } 
        {/foreach}
    });
    $('#country_id').change();{/strip}
</script>
    {if isset($errors['zip'])}<div class="error">{$errors['zip']}</div>{/if}
        <label for="zip">{__('Zip code')}:</label>
        <input type="text" name="zip" value="{$User->member->zip}" id="zip" />
        <br />
        {if isset($errors['address1'])}<div class="error">{$errors['address1']}</div>{/if}
        <label for="address1">{__('Address 1')}:</label>
        <input type="text" name="address1" value="{$User->member->address1}" id="address1" />
        <br />
        {if isset($errors['address2'])}<div class="error">{$errors['address2']}</div>{/if}
        <label for="address2">{__('Address 2')}:</label>
        <input type="text" name="address2" value="{$User->member->address2}" id="address2" />
        <br />
        {if isset($errors['phone'])}<div class="error">{$errors['phone']}</div>{/if}
        <label for="phone">{__('Phone')}:</label>
        <input type="text" name="phone" value="{$User->member->phone}" id="phone" />
        <br />
        {if isset($errors['fax'])}<div class="error">{$errors['fax']}</div>{/if}
        <label for="fax">{__('Fax')}:</label>
        <input type="text" name="fax" value="{$User->member->fax}" id="fax" />
        <br />
        <label for="birthdate">{__('Birthdate')}:</label>
        <input type="text" name="birthdate" value="{$User->member->birthdate|date_format:"%Y-%m-%d"}" id="birthdate" />

        <div align="center">
            <input type="Button" name="" value="{__('Cancel')}" class="cancel_btn" rel="{URL::site('backend/user/list')}" />
            <input type="Submit" name="subm" value="{__('Save')}" />
            <br />
        </div>
    <input type="hidden" name="type" value="extended"/>
</form>
<script type="text/javascript">
    $("#added").datepicker({ dateFormat: 'yy-mm-dd' });
    $("#birthdate").datepicker({ dateFormat: 'yy-mm-dd',changeMonth: true, changeYear: true });
</script>
