{extends file='../backend.tmpl'}

{block name='content'}
<div id="box">
    <h3>{__('Edit user')}</h3>

    {include file="./info/general.tmpl"}
    {include file="./info/groups.tmpl"}
    {include file="./info/extended.tmpl"}

</div>
{/block}