<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Users - Admin Template</title>
{$assets}
</head>

<body>
	<div id="container">
    	<div id="header">
        	<h2>Proweb v3.0 Backend area</h2>
        	<div id="topmenu">
                <ul>
                {if Auth::instance()->logged_in('backend')}
                    {foreach from=$MainMenu item=Mn}
                        <li{if $Mn->id == $MenuItem->id || $Mn->id == $MenuItem->parent_id} class="current"{/if}><a href="{URL::base()}backend/{$Mn->controller}/{$Mn->action}{if $Mn->params}?{$Mn->params}{/if}">{$Mn->title}</a></li>
                    {/foreach}
                {else}
                    &nbsp;
                {/if}
              </ul>
          </div>
      </div>
      {if count($SubMenu) && Auth::instance()->logged_in('backend')}
       <div id="top-panel">
            <div id="panel">
                <ul>
                  {foreach from=$SubMenu item=Mn}
                    <li><a href="{URL::base()}backend/{$Mn->controller}/{$Mn->action}{if $Mn->params}?{$Mn->params}{/if}"{if $Mn->id == $MenuItem->id && $MenuItem->order_id >= 0} class="current-sub"{/if}>{$Mn->title}</a></li>
                  {/foreach}
                </ul>
            </div>
      </div>
       {/if}
       
        <div id="wrapper">
            <div id="content">
                {block name="content"}
                  
                {/block}
            </div>
       </div>
        <div id="footer">
            <div id="credits">
       		   Created by <a href="http://mrdoggy.info">MrDoggy</a>
            </div>
            <br />
        </div>
    </div>
</body>
</html>
